<div class="card" (click)="cardClicked.emit($event)">

	<div class="inside" [ngClass]="{'picked': card.picked, 'matched': card.matched }">
		<div class="front">
			<img [src]="card.img" [alt]="card.name" />
		</div>
		<div class="back">
			<img src="assets/back.png" alt="Codepen" />
		</div>
	</div>
</div>